Whats needed on the results page:
A table with sorting function on every column. All of the entries are filtered by the filters on the form page 
This could be achieved like this:
https://www.w3schools.com/howto/howto_js_sort_table.asp
The columns needed are:
-LGA name
-Homeless / at risk population 
-Homeless ratio 
-Any LGA attribute that the user has checked on the form
-percentage change in homelessness ratio AND homeless population if both years are selected 
-percentage change in population